/**/*.gif
/**/*.wav
/**/training_checkpoints
/**/.vs*
/**/dataset
/**/*.csv
/**/*.jpg
/**/*.png
/**/*.pt
/**/*.h5
/**/*.result
/**/events.out*
/**/model_save
/**/tensorboard_log
/**/__pycache__
/**/*log*
/**/.*
/**/*.pyc
/**/*.pickle